[Desktop Entry]
Name=Standalone OpenVPN
Comment=Starting OpenVPN in stadnalone Mode
GenericName=Starting OpenVPN in standalone Mode
Exec=gnome-terminal --class=OpenVPNShellStandalone --command="openvpnshell standalone"
TryExec=openvpnshell
Icon=/usr/share/icons/hicolor/scalable/apps/openvpn4ucs_logo.svg
Categories=Network
Terminal=false
Type=Application
Version=1.0
