[Desktop Entry]
Name=OpenVPN
Comment=Starting OpenVPN in Daemon Mode
GenericName=Starting OpenVPN in Daemon Mode
Exec=sudo /usr/local/bin/openvpnshell daemon
TryExec=/usr/local/bin/openvpnshell
Icon=/usr/share/icons/hicolor/scalable/apps/openvpn4ucs_logo.svg
Categories=Network
Terminal=true
Type=Application
Version=1.0
