[Desktop Entry]
Name=OpenVPN
Comment=Starting OpenVPN in Daemon Mode
GenericName=Starting OpenVPN in Daemon Mode
Exec=openvpnshell daemon
TryExec=openvpnshell
Icon=openvpn4ucs_logo.svg
Categories=Network
Terminal=true
Type=Application
Version=1.0
